<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link th:href='@{/CSS/style9.css}' rel='stylesheet'>
</head>
<body class="bgi">
    <div class="dvv">
        <h2 class="lah">Change Password</h2>
    </div>
    <div class="dv">
        <form class="login" action="change" th:action="@{change}" method="post">
            <table class="tb">
				<tr class="tbb">
                    <td class="logintd"><label class="la">User Id:</label></td>
                    <td class="logintd"><input class="nb" type="userId" name="userId" required></td>
                </tr>
                <tr class="tbb">
                    <td class="logintd"><label class="la">Current Password:</label></td>
                    <td class="logintd"><input class="nb" type="password" name="currentPassword" required></td>
                </tr>
                <tr class="tbb">
                    <td class="logintd"><label class="la">New Password:</label></td>
                    <td class="logintd"><input class="nb" type="password" name="newPassword" required></td>
                </tr>
                <tr class="tbb">
                    <td class="logintd"><label class="la">Confirm Password:</label></td>
                    <td class="logintd"><input class="nb" type="password" name="confirmPassword" required></td>
                </tr>
            </table>
            <button class="btr" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
