<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
<link th:href='@{/CSS/st.css}' rel='stylesheet'>
</head>
<body class="bgi">
    <div class="container">
        <h1>Password Updated Successfully</h1>
        <p>Your password has been updated successfully.</p>
    </div>
    <div style='margin-top:30px;font-family:lucida bright' align='center'>
     <a href='/canara-bank/user/login' style='font-size:20px;color:rgb(0, 0, 0)'>Click here for re-login</a>
  </div>
</body>
</html>
